.status-bar__column {
  width: 33%;
  padding: 3px 5px;
}

.status-bar__column:nth-child(1) {
  display: flex;
  justify-content: left;
}

.status-bar__column:nth-child(2) span {
  display: flex;
  justify-content: center;
}

.status-bar__column:nth-child(3) {
  display: flex;
  justify-content: end;
  align-items: center;
}

.status-bar {
  display: flex;
  justify-content: center;
}

.status-bar:first-child span {
  margin-right: 5px;
}

.status-bar__column .fa-battery-three-quarters {
  margin: 0px 5px;
}
