@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";

/* Screens */

@import "screens/login.css";

body {
  font-family: "Open Sans", sans-serif;
}

.nav {
  position: fixed;
  background-color: #f9f9fa;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav-list {
  display: flex;
  justify-content: space-between;
}
